<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <%-include('partials/bootstrap.ejs')-%>
    </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus icon'></i> -->
        <div class="logo_name"><%= user.name%></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <!-- <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li> -->
      <li>
        <a href="#">
        
          <a href="/dashboard">   <i class='bx bx-grid-alt'></i><span class="links_name">Dashboard</span></a> 
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="#">
         <i class='fas fa-book' ></i>
         <span class="links_name">About</span>
       </a>
       <span class="tooltip">About</span>
     </li>
   
     <li>
       <a href="#">
         <i class='fas fa-plus' ></i>
         <span class="links_name">Add Class</span>
       </a>
       <span class="tooltip">Add Class</span>
     </li>

     <li>
      <a href="#">
        <i class='fas fa-user-shield' ></i>
        <span class="links_name">Help</span>
      </a>
      <span class="tooltip">Help</span>
    </li>

     <li>
      <a href="/logout">
        <i class="fas fa-power-off"></i>
        <span class="links_name">Logout</span>
      </a>
      <span class="tooltip">Logout</span>
    </li>
   
    </ul>
  </div>
  <div class="home-section">
    <div class="nav bg-light p-3 text-dark">
      <h5>Dashboard <i class="fas fa-building"></i>
    <a href="/add/class" class="btn btn-primary btn-sm ml-5">Add Class <i class="fas fa-plus"></i></a></h5>
</div>

<div class="flashes m-5">
  <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <div class="flash success"><%= flashMessages.success %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    <% } else if (flashMessages.error) { %>
     
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <div class="flash error"><%= flashMessages.error %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>
  <% } %>
</div>

<div class="container ">
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card py-3 bg-light text-dark">
        <h5 class="text-center">Total Classes <i class="fas fa-city"></i></h5>
        <h3 class="text-center"><%=classes.length%></h3>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card py-3 bg-light text-dark">
        <h5 class="text-center">Morning Classes <i class="fas fa-school"></i></h5>
        <h3 class="text-center"><%=morning.length%></h3>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card py-3 bg-light text-dark">
        <h5 class="text-center">Evening Classes  <i class="fas fa-home"></i></h5>
  
         <h3 class="text-center"><%=eveLength%></h3>
        <!-- <% if(eveLength.length > 0) { %> 
          <h3 class="text-center"><%=eveLength.length%></h3>
        
        <%} 
        else { %>
          <h3 class="text-center">0</h3>
        
          <%}%>
       -->
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
   
  <div class="row mb-5">

    <% classes.forEach((clas) => { %>

    <div class="col-md-4 mt-3" >
        <div class="card" id="classes">
          
          <h5 id="f2">  <%=clas.classname%> <i class="fas fa-users text-success"></i></h5>
          <div class="data mt-1 ml-3"> <br>
             <div class="mute text-muted">
              <p> <i class="fas fa-user-tie"></i> <%=clas.teacher%></p>
              <p> <i class="fas fa-check"></i>  <%=clas.semmester%></p>
              <p> <i class="fas fa-check"></i>   <%=clas.department%></p>
              <p> <i class="fas fa-check"></i>   <%=clas.subject%></p>
              <p> <i class="fas fa-check"></i>  <%=clas.subjectcode%></p>
              <p> <i class="fas fa-check"></i>  <%=clas.credithours%></p>
              <p> <i class="fas fa-school"></i>  <%=clas.shift%></p>
              <p  class="text-muted"> <i class="fas fa-clock"></i>  <%=clas.timeline%></p>
             </div>
           </div>
        <hr>
          <div class="action pb-2 pl-2">
             
              <form action="/delete/class/<%=clas.id%>?_method=DELETE" method="POST" >
                <a href="/add/student/<%=clas.id%>" class="btn btn-primary btn-sm">Add Student <i class="fas fa-plus"></i></a>
                <a href="/view/students/<%=clas.id%>" class="btn btn-warning btn-sm">View Class <i class="fas fa-eye"></i></a>
                
                <span >
                 <button class="btn btn-danger btn-sm" id="left">  <i class="fas fa-trash"></i></button>
                 <a href="/update/class/<%=clas.id%>" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i></a>
                </span>
                  </form>
          </div>
        </div>
    </div>
    <% })%>
    
  
  
  </div>
</div>
  </div>
  <!-- <div class="foot">
    <%-include('partials/footer.ejs')-%>
  </div> -->
  <script>

        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("open");
          menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
          sidebar.classList.toggle("open");
          menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
        if(sidebar.classList.contains("open")){
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        }else {
          closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
        }
        }


  </script>

</body>
</html>
