
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <%-include('partials/bootstrap.ejs')-%>

      <style>
        .profile-head {
            transform: translateY(4rem)
            }

            .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
            }

            body {
            /* background: #f2f2f2; */
            /* background: linear-gradient(to right, #e96443, #904e95); */
            min-height: 100vh;
            overflow-x: hidden
            }
      </style>
    </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus icon'></i> -->
        <div class="logo_name"><%= user.name%></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <!-- <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li> -->
      <li>
        <a href="#">
        
          <a href="/dashboard">   <i class='bx bx-grid-alt'></i><span class="links_name">Dashboard</span></a> 
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">User</span>
       </a>
       <span class="tooltip">User</span>
     </li>
   
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>

     <li>
      <a href="/logout">
        <i class="fas fa-power-off"></i>
        <span class="links_name">Logout</span>
      </a>
      <span class="tooltip">Logout</span>
    </li>
   
    </ul>
  </div>
  <div class="home-section">
    
    <div class="nav bg-light p-3 text-dark">  
        <h5>Student profile <i class="fas fa-graduation-cap"></i> <a href="/view/students/<%=clas.id%>" class="btn btn-primary btn-sm">Go Back</a></h5>
       </div>

    <div class="row ">
        <div class="col-md-12 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                       <%if(student.Sgender === 'male') { %>
                        <div class="profile mr-3 " id="prof"> <i class="fas fa-user-tie fa-5x p-3" id="prof"></i> <a href="#" class="btn btn-sm btn-block"></a></div>
                      <% } else if(student.Sgender === 'female') { %> 
                        <div class="profile mr-3 " id="prof"> <i class="fas fa-female fa-5x p-4"></i> <a href="#" class="btn btn-sm btn-block"></a></div>
                        <%}%>
                        
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0"><%=student.Sname%></h4>
                            <p class="small mb-4"> <i class="fas fa-circle"></i> <%=student.Srollno%></p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item btn btn-success">
                            <small class="text-light">Student Role : </small> <br>
                            <h5 class="font-weight-bold mb-0 d-block"><%=student.Stype%></h5>
                        </li>
                        <li class="list-inline-item btn btn-info text-light">
                            <h5 class="font-weight-bold mb-0 d-block">
                                <small class="text-light"> <i ></i>Status : </small> <br>
                                <%=student.Sstatus%></h5>
                        </li>
                        <li class="list-inline-item btn btn-primary">
                            <small class="text-light"> <i ></i>Gender : </small><br>
                            <h5 class="font-weight-bold mb-0 d-block"><%=student.Sgender%></h5>
                        </li>
                    </ul>
                </div>
               
              
               
            </div>
           
        </div>
        
    </div>


    <div class="flashes m-5">
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
    
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <div class="flash success"><%= flashMessages.success %></div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
        <% } else if (flashMessages.error) { %>
         
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <div class="flash error"><%= flashMessages.error %></div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <% } %>
      <% } %>
    </div>

    <div class="bg-light my-5 p-3">


        <div class="row my-5" id="dash">
            <div class="col-md-4">
                <div class="card p-3">
                    <h3 class="text-center  text-dark py-2 text-muted">Quizzes <i class="fas fa-file-alt"></i></h3>
                        <i class="fas fa-check py-2 text-muted" id="q"> Total  : <button class="btn btn-info ml-3 btn-sm px-5"><%=Qlength%></button> </i> <br>
                        <i class="fas fa-check py-2 text-muted" id="q"> Present : <button class="btn btn-success btn-sm px-5"><%=QAlength%></button></i><br>
                        <i class="fas fa-check py-2 text-muted" id="q"> Absent : <button class="btn btn-danger ml-1 btn-sm px-5"><%=abqLength%></button>  </i>
                        <div id="action">
                            <a href="/add/quiz/<%=clas.id%>/<%=student.id%>" class="btn btn-primary mt-2 btn-sm ml-1 btn-block">Add Quiz <i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
          
            <div class="col-md-4 ">
                <div class="card p-3">
                    <h3 class="text-center  text-dark py-2 text-muted">Assignments <i class="fas fa-pen-square"></i></h3>
                    <i class="fas fa-check py-2 text-muted" id="q"> Total : <button class="btn btn-info btn-sm px-5 ml-5"><%=student.assignments.length%></button> </i> <br>
                    <i class="fas fa-check py-2 text-muted" id="q"> Verified : <button class="btn btn-warning btn-sm px-5" id="align"><%=vaslength%></button></i><br>
                    <i class="fas fa-check py-2 text-muted" id="q"> Unverified : <button class="btn btn-danger btn-sm px-5 ml-2"><%=uaslength%></button>  </i>

                    <div id="action">
                      <a href="/add/assignment/<%=clas.id%>/<%=student.id%>" class="btn btn-primary mt-2 btn-sm ml-1 btn-block">Add Assignment <i class="fas fa-plus"></i></a>
                  </div>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card p-3">
                    <h3 class="text-center text-dark py-2 text-muted">Presentations <i class="fas fa-address-card"></i></h3>
                    <i class="fas fa-check py-2 text-muted" id="q"> Total : <button class="btn btn-info btn-sm px-5 " id="er"><%=student.presentations.length%></button> </i> <br>
                    <i class="fas fa-check py-2 text-muted" id="q"> Present : <button class="btn btn-warning btn-sm px-5" id="err"><%=Apreslength%></button></i><br>
                    <i class="fas fa-check py-2 text-muted" id="q"> Absent : <button class="btn btn-danger btn-sm px-5 ml-5"><%=Abpreslength%></button> </i>
                    
                    <div id="action">
                      <a href="/add/pres/<%=clas.id%>/<%=student.id%>" class="btn btn-primary mt-2 btn-sm ml-1 btn-block">Add Presentation <i class="fas fa-plus"></i></a>
                  </div>

                </div>
            </div>
        </div>
    </div>

    
    
    <div class="container">
       <div class="bg-light p-2">

        <h3 class="text-muted">Quizzes</h3>

        <table class="table table-striped table-light">
            <thead>
              <tr>
                <th scope="col">Quiz No</th>
                <th scope="col">Topic</th>
                <th scope="col">Date</th>
                <th scope="col">Attendence</th>
                <th scope="col">Score</th>
                <th scope="col">Percentage</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
           
              <% student.quizzes.forEach((quiz) => { %>

                <tr>
                  <td><%=quiz.Qnumber%></td>
                  <td><%=quiz.Qtopic%></td>
                  <td><%=quiz.Qdate%></td>
                  <td><%=quiz.Qattendence%></td>
                  <td><%=quiz.Qscore%>/<%=quiz.Qscorefrom%></td>
                  <td><%=quiz.Qpercentage%></td>
                  <td>
                    <form action="/delete/quiz/<%=clas.id%>/<%=student.id%>/<%=quiz.id%>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                      <a href="/update/quiz/<%=clas.id%>/<%=student.id%>/<%=quiz.id%>" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    </form>
                  </td>
                </tr>

             <% })%>

              
            </tbody>
          </table>

       </div>

    </div>

    <div class="container mt-5">
      
      <div class="assigment bg-light p-3">
        <h3 class="text-muted">Assignments</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"># No</th>
              <th scope="col">Topic</th>
              <th scope="col">Date</th>
              <th scope="col">Attendence</th>
              <th scope="col">Status</th>
              <th scope="col">Score</th>
              <th scope="col">Percentage</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <%student.assignments.forEach((assignment) => { %>

              <tr>
                <td><%=assignment.Anumber%></td>
                <td><%=assignment.Atopic%></td>
                <td><%=assignment.Adate%></td>
                <td><%=assignment.Aattendence%></td>
                <td>
                  <%if(assignment.Astatus === 'verified') { %>

                    <button class="btn btn-warning btn-sm"><%=assignment.Astatus%></button>

                  <%} else if(assignment.Astatus === 'unverified') { %> 
                    <button class="btn btn-danger btn-sm"><%=assignment.Astatus%></button>
                    <%}%>
                </td>
                <td><%=assignment.Ascore%>/<%=assignment.Ascorefrom%></td>
                <td><%=assignment.Apercentage%></td>
                <td>
  
                  <form action="/delete/assignment/<%=clas.id%>/<%=student.id%>/<%=assignment.id%>?_method=DELETE" method="POST">
  
                    <button class="btn btn-danger btn-sm" type="submit"> <i class="fas fa-trash-alt"></i></button>
  
                    <a href="/update/assignment/<%=clas.id%>/<%=student.id%>/<%=assignment.id%>" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
  
                  </form>
  
                </td>
              </tr>
              

         <% })%>

           
          </tbody>
        </table>
      </div>

    </div>

    <div class="container mt-5 bg-light">
      <div class="pre p-3">
        <h3 class="text-muted">Presentations</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"># No</th>
              <th scope="col">Topic</th>
              <th scope="col">Date</th>
              <th scope="col">Attendence</th>
              <th scope="col">Score</th>
              <th scope="col">Percentage</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <% student.presentations.forEach((pres) => {%> 
                <tr>
                  <td><%=pres.Pnumber%></td>
                  <td><%=pres.Ptopic%></td>
                  <td><%=pres.Pdate%></td>
                  <td><%=pres.Pattendence%></td>
                  <td><%=pres.Pscore%>/<%=pres.Pscorefrom%></td>
                  <td><%=pres.Ppercentage%></td>
                  <td>
                    <form action="/delete/pres/<%=clas.id%>/<%=student.id%>/<%=pres.id%>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                      <a href="/update/pres/<%=clas.id%>/<%=student.id%>/<%=pres.id%>" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    </form>
                  </td>
                </tr>
              <%}) %>   
          </tbody>
        </table>
      </div>
    </div>

    </div>



  </div>

  <div class="foot ">
    <%-include('partials/footer.ejs')-%>
  </div>

  <script>

        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("open");
          menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
          sidebar.classList.toggle("open");
          menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
        if(sidebar.classList.contains("open")){
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        }else {
          closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
        }
        }


  </script>

</body>
</html>
